QTreeView {
    selection-background-color: green;
    border-radius: 5px;
    background-color: #eee;
}

QTextEdit {
    background-color: rgb(24, 24, 24);
    border: 1px solid #eee;
    border-radius: 5px;
    color: #eee;
}

MainWindow{
    background-color: rgb(24, 24, 24);
    color: rgb(238, 238, 238);
}

QLabel{
    color: #eee;
}
